.filter__button {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* border: 1px solid var(--color-basic-text); */
  border-radius: 60px;
  padding: 6px 20px;
  background-color:var(--background-color);
  color: var(--color-basic-text);
  width: 144px;
  height: 39px;
  border: 2px solid;
}
  /* .light.filter_button {
    --text-color: #fff;
    --back-color: #000;
    --border-color:1px solid #000;
  }

  .dark.filter_button {
    --text-color: #000;
    --back-color: #fff;
    --border-color:1px solid #FFFFFF;
  } */

  .filter__button.active{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 60px;
    padding: 6px 20px;
    background-color: var(--background-color);
    border-color: #AD61FF;
    color: #AD61FF;
    cursor: pointer;
  }

  /* .filter__button:not(:last-child) {
    margin-right: 10px;
  } */

  .filter__button:hover {
    border-color: #D9B6FF;
    color: #D9B6FF;
    cursor: pointer;
  }  

  .filter__button.active{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    border-radius: 60px;
    padding: 6px 20px;
    background-color: var(--background-color);
    border-color: #AD61FF;
    color: #AD61FF;
    cursor: pointer;
  }

  

