 .track__author_link
  { 
  font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    text-align: left;
    color: #FFFFFF;
    color: var(--text-color); 
  }

.light.track__title_link {
    --text-color: #000;
  }


.dark.track__title_link {
    --text-color: #fff;
  }

  .track__author {
    /* background-color: rgb(255, 255, 255);
    color: rgb(40, 44, 52); */
    display: flex;
    justify-content: flex-start;    
    width: 321px;}