.track__title_link {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;    
    color: var(--text-color); 
  }

  .track__title_span {
   font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4e4e4e;
  }
  .light.track__title_link {
    --text-color: #000;
  }

  .dark.track__title_link {
    --text-color: #fff;
  }