.playlist__item {
  width: 98%;
  display: block;
  margin-bottom: 12px; 
  
  }

  .scrollbar::-webkit-scrollbar {
    width: 12px;
  } 
  
  .scrollbar::-webkit-scrollbar-track {
    background-color: #120101;
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background-color: #6b6b6b;
    border-radius: 20px;       /* округлось бегунка */    
  }
  
  .scrollbar {
    overflow-y: scroll;
    scrollbar-width: none; 
    scrollbar-color: #6b6b6b #313131; 
    overflow-y: scroll;
  }  

  .playlist__track {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  }
  .track__title {
    display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 447px;
  }
  .track__time_svg {
    width: 14px;
    height: 12px;
    margin-right: 17px;
    fill: transparent;
    stroke: #696969;
  }